<main class="contenedor">
  <form method="POST" class="default-form">
    <div class="campo">
      <label for="email">Correo</label>
      <input type="email" name="email" placeholder="Correo" required></div>

    <div class="campo acciones">
      <a href="/crear-cuenta">Crear Cuenta</a>
      <a href="/iniciar-sesion">Iniciar Sesión</a></div>

    <div class="campo">
      <input type="submit" value="Recuperar" class="btn btn-azul">
    </div>
  </form>
</main>